@font-face {
	font-family: 'Signika';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('/src/lib/fonts/Signika-Regular.ttf');
}

@font-face {
	font-family: 'Signika';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('/src/lib/fonts/Signika-Bold.ttf');
}
